* {
    font-family: "Muli", "Roboto", arial, helvetica, sans-serif;
}

body{
    background-color: #E8E8E8;
}

.container-splash{
    position: absolute;
    /* top:1%; */
    width: 100%;
}

.container-splash-2{
    position: absolute;
    top:130%;
    transform: translateY(-90%);
    width: 100%;
}
.logo-splash{
    display: block;
    margin: 0 auto;
    width: 200px;

    width: 40%;
    display: block;
    margin-top: 0;
}
.btn.rojo { margin: 0 !important; min-width: auto !important;}
img{ width: 100%; }
.logo-buen-fin {
    width: 50%;
    margin: auto;
    max-width: 300px;
}
.contenedor-formulario {
    padding: 2rem 0rem;
    background-color: rgba(0, 0, 0, .6);
    margin: 6% auto;
    color: white;
    border-radius: 20px;
}
.banner-mobile {display: none !important;}

.button {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    background-color: #76ff4f;
    color: #000;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    margin: 2% 0;
    border: 1px solid #76ff4f;
    min-width: 150px;
}  

.campo-texto{
    text-align: center;
    font-weight: 600;
    line-height: 1.6;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], select, textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #DDD;
    font-size: 0.9rem;
    color: #555;
    padding: 8px !important;
    font-weight: 300;

    outline: none;
}

/* a, input[type="button"], input[type="submit"], input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea, button {cursor: pointer !important;}
.swal2-title {justify-content: center;} */

@media (max-width: 1024px){
    .logo-buen-fin {
        width: 25%;
    }
    .button {
        min-width: 100px;
        font-size: 0.9rem;
    }
}

@media (max-width: 780px),print{
    .contenedor-contador {
        width: 100%;
        margin: auto;
    }
    .banner-desktop {
        display: none !important;
    }
    .banner-mobile {
        display: block !important;
    }
    .button {
        width: 40%;
        font-size: 1rem;
        padding: 11px 0;
        min-width: 150px;
        font-size: 0.8rem;
        padding: 13px 0;
        min-width: 130px;
    }
}
@media (max-width: 400px) {
    .button {
        font-size: 0.7rem;
        padding: 13.2px 0;
        min-width: 100px;
    }
}

@media (max-width: 330px){
    .button {
        font-size: 0.65rem;
        padding: 14px 0;
        min-width: 85px;
    }
}
@media (max-width: 290px){
    .button {
        width: 30%;
        font-size: 0.5rem;
        padding: 15px 0;
        min-width: 65px;
    }
}






/*
=======================================================================================================
======================================== Estilos Principales ==========================================
=======================================================================================================
*/

.principal-title {
    letter-spacing: 12px;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
    line-height: 1.6;
}

.first-next-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

label {
    font-size: 18px;
    color: #ffffff;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #ffffff;
}

.formulario__grupo-incorrecto .formulario__input {
    border: .1rem solid #ffffff;
}

.formulario__input_2 {
    border: .1rem solid #ffffff;
}

.formulario__input-error {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 4px;
    color: #ffffff;
    display: none;
    font-weight: bold;
}

.formulario__input-error_2 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 4px;
    color: #ffffff;
    display: block;
    font-weight: bold;
}

.formulario__input-error-activo {
    display: block;
}

.required_field {
    color: #ffffff;
}

.formulario__label_aux {
    color: #bb2929;
}

.custom-button {
    background-color: #F28484;
    padding-left: 60px;
    padding-right: 60px;
    color: #ffffff;
    outline: none;
    font-size: 18px;

    border-radius: 5px;
}

.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

.custom-header {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #FFEBEB;
}

.custom-card {
    width: 100%;
    margin: auto;
}

@media (min-width: 320px) {
    .custom-card {
        width: 100%;
        margin: auto;
    }

    .container-t1 {
        height: auto;
        padding: 10% 0;

        border-radius:0;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .container-t1-form {
        height: auto;
        padding: 5% 5px;
        background-color: rgba(219,59,43,1);

        border-radius: 0;
    }

    form {
        margin: 0 auto;
        width: 95%;
    }
}

.formulario-contacto {
    margin-top: 0;
}

@media (min-width: 768px) {
    .formulario-contacto {
        margin-top: 3.5rem;
    }

    .custom-container {
        margin-top: 3rem
    }

    .custom-card {
        width: 100%;
        margin: auto;
    }

    .container-t1 {
        height: auto;
        padding: 10% 0;

        border-radius: 10px 0 0 10px;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .container-t1-form {
        height: auto;
        padding: 5% 5px;
        background-color: rgba(219,59,43,1);

        border-radius: 0 10px 10px 0;
    }

    form {
        margin: 0 auto;
        width: 80%;
    }

    .container-t1-form form {
        padding-top: 2rem;
    }

    .div-actions {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
}

@media (min-width: 1024px) {
    .custom-card {
        width: 85%;
        margin: auto;
    }

    form {
        margin: 0 auto;
        width: 90%;
    }
}

.custom-check {
    cursor: pointer;
}

.required__field {
    color: #ffffff;
}

.custom-container {
    height: 400px;
    position: relative;
}

.custom-container-card {
    height: 100%;
}

.container-t1 {
    height: auto;
    padding: 10% 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #ffffff;
}

.container-t1-form {
    height: auto;
    padding: 20px;
    background-color: rgba(219,59,43,1);
}

.last_message p {
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
}

.custom_div_count_questions p {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    padding-top: 50px;
}

.last-form {
    height: 100%;
    display: flex;
    align-items: center;
}

.div-actions {
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0px);
      width: 300px;
      height: 300px;
      border-radius: 50%;
      /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    }
  }